/* -- general -- */
html, body {
  height: 100%;
  color: #fff;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue",
               helvetica, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 16px !important;
}
a {
  text-decoration: none;
}
b {
  font-weight: bold;
}
h1 {
  text-align: center;
  font-weight: normal;
  color: #fff;
}
hr {
  margin: 25px;
  border-width: 0px;
  border-bottom: 1px solid #ccc;
}

/* --- grid -- */
#app {
  height: 100%;
  width: 100%;
  position: relative;
}
.block {
  width: calc(100% - 40px);
  max-width: 400px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.row {
  margin: 10px 0px;
  width: 100%;
}
.line {
  padding: 10px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.text {
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.6;
}
.quote {
  padding: 5px 0px;
  padding-bottom: 10px;
  color: #000;
  background: #32d7d2;
  width: 100%;
  text-align: left;
}
.logo {
  max-width: 100px;
}

/* --- icon --- */
.icon {
  margin: 0 5px 0 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  pointer-events: all;
  position: relative;
  top: 5px;
  stroke: currentColor;
  fill: none;
}
.icon-svg {
  display: none;
}
.icon-online {
  stroke: green;
}
.icon-voice {
  stroke: blue;
}

/* --- object --- */
#btn-discord {
  width: 100%;
  padding: 15px 0px;
  margin: 0;
  display: block;
  color: #fff;
  /* background-color: #f00; */
  border: 1px solid #fff;
  font-weight: 700;
}
#btn-discord:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}
#btn-discord:active {
  padding: 16px 0px 14px;
}
#btn-discord:focus { outline: 0; }